<div id="<%= dom_id listing %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= listing.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= listing.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= listing.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= listing.category %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Condition:</strong>
    <%= listing.condition %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= listing.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Selling type:</strong>
    <%= listing.selling_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= listing.quantity %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Starting price cents:</strong>
    <%= listing.starting_price_cents %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Reserve price cents:</strong>
    <%= listing.reserve_price_cents %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Buy now price cents:</strong>
    <%= listing.buy_now_price_cents %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Auction ends at:</strong>
    <%= listing.auction_ends_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Shipping type:</strong>
    <%= listing.shipping_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Shipping price cents:</strong>
    <%= listing.shipping_price_cents %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Currency:</strong>
    <%= listing.currency %>
  </div>
</div>
